/* style.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
}

.hero {
    background-color: #1F2937;
    padding: 20px 400px 100px 400px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

}

.header-links {
    display: flex;
    gap: 20px;
    flex-shrink: 0;
}

.hero-content {
    display: flex;
}

.hero-text,
.hero-image {
    width: 560px;
    height: 225px;
    flex-grow: 1;
    flex-shrink: 1;
}

.header-logo,
.hero-main-text {
    color: #F9FAF8;
}

.header-links,
.hero-sec-text,
.hero-image {
    color: #E5E7EB;
    font-size: 18px;
}

.header-logo {
    font-size: 24px;
    font-weight: 800;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bold;
    width: 450px;
}

.hero-sec-text {
    width: 450px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 50px;
}

.hero-image {
    background-color: rgb(139, 136, 136);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-hero {
    border: 1px solid #3882F6;
    width: 120px;
    padding: 6px 0px;
    font-size: 18px;
}

.information {
    padding-bottom: 100px;
}

.information-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin: 50px;
}

.information-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.information-list-icon,
.information-list-text {
    display: flex;
    gap: 80px;
}

.information-list-text {
    width: 872px;
}

.information-icon {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.information-text {
    width: 158px;
    color: rgb(78, 76, 76);
}

.quote {
    background-color: #E5E7EB;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    width: 830px;
}

.quote-signature {
    font-size: 22px;
    font-weight: bold;
    width: 830px;
    text-align: right;
}